<div class="card-modal-header">
  <button type="button" class="close pull-right" aria-label="Close" (click)="mdbModalRef.hide()">
    <span aria-hidden="true">×</span>
  </button>
  <h4 class="modal-title w-100" id="myModalLabel">Categorie toevoegen</h4>
</div>
<div class="modal-body">
  <form (ngSubmit)="submitCategory(content.boardId, content.laneId)" [formGroup]="categoryForm">
    <div class="md-form">
      <input
        mdbInput
        type="text"
        id="message"
        class="form-control"
        formControlName="message"
        [ngClass]="{
             'is-invalid': form.message.invalid && ((form.message.dirty || form.message.touched) || submitted)
            }"
        required
      >
      <label for="message" class="">Categorie titel</label>
      <div *ngIf="(form.message.invalid && (form.message.touched)) || submitted" class="invalid-feedback">
        <div *ngIf="form.message?.errors?.required">Categorie titel is verplicht!</div>
      </div>
    </div>
    <div class="btnDiv">
      <button mdbBtn class="submitBtn" type="submit" mdbWavesEffect>Toevoegen</button>
    </div>
  </form>
</div>

