<div class="imgDiv">
  <div  id="color-overlay"></div>

  <mdb-card>
    <mdb-card-header>
      <img src="../../../assets/images/truelimetransparant.png" alt="TrueLime" class="animated pulse"/>
    </mdb-card-header>

    <mdb-card-body>
      <div>
        <h4>Registreren</h4>
      </div>

      <div class="md-form">
        <input mdbInput type="email" id="email" class="form-control">
        <label for="email" class="">Email</label>
      </div>
      <div class="md-form">
        <input mdbInput type="text" id="username" class="form-control">
        <label for="username" class="">Gebruikersnaam</label>
      </div>
      <div class="md-form">
        <input mdbInput type="password" id="password" class="form-control">
        <label for="password" class="">Wachtwoord</label>
      </div>

      <button mdbBtn class="registerBtn" type="button" mdbWavesEffect routerLink="/dashboard">Registreren</button>

    </mdb-card-body>
  </mdb-card>
</div>

