div {
  margin-top: 20px;
  text-align: center;
}

hr {
  background-color: black;
}

.myBoardsRemove {
  right: 2%;
  position: absolute;
  color: #8bd201;
  border: 2px solid #8bd201;
  cursor: pointer;
  margin: 0;
  padding: 10px 25px;
}
