.imgDiv {
  background-image: url('../../../../assets/images/backgroundOverlay.png');
  overflow: hidden;
  min-height: 100vh;
  height: auto;
  width: 100%;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.myBoardsCard {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
}

.row {
  display: flex;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
}

.col-4 {
  padding-left: 0px;
  padding-right: 0px;
  align-content: flex-end;
  justify-content: end;
  text-align: right;
}

h2 {
  color: #8bd201;
  cursor: pointer;
  outline: none;
}

.boardTitle {
  padding-left: 0px;
  padding-right: 0px;
}

.spinner-border {
  color: #8bd201;
}

.boardRemove {
  color: #ed5603;
  border: 2px solid #ed5603;
  cursor: pointer;
  background-color: #ffffff;
  font-size: 10px;
  text-align: center;
}

.dashBtn {
  /*background-color: #8bd201;*/
  /*color: #ffffff;*/
  background-color: #ffffff;
  color: #8bd201;
  border: 2px solid #8bd201;
  padding: 14px 28px;
  font-size: 20px;
  cursor: pointer;
  margin-left: 10px;
}
