<div
  cdkDropList
  [id]="lane.id"
  [cdkDropListData]="lane.cards"
  [cdkDropListConnectedTo]="lane.id"
  (cdkDropListDropped)="onDrop($event)"
>
  <div class="md-form">
    <div class="row row-title justify-content-center">
      <div class="col-md-10 pl-0 pr-0">
        <input
          mdbInput
          type="text"
          class="form-control titleInput"
          [(ngModel)]="lane.title"
          (change)="onLaneTitleChange(lane.id, lane)"
        />
        <label for="title" class=""></label>
      </div>
      <div class="col-md-2 pl-0 pr-0">
        <button
          class="deleteLane"
          (click)="deleteLane(lane.id)"
          mdbBtn
          mdbWavesEffect
        >
          <mdb-icon fas icon="minus"></mdb-icon>
        </button>
        <button
          class="addCard"
          (click)="openCardModal(lane.id)"
          mdbBtn
          mdbWavesEffect
        >
          <mdb-icon fas icon="plus"></mdb-icon>
        </button>
      </div>
    </div>
    <div *ngFor="let card of lane.cards">
      <app-card [board]="board" [lane]="lane" [card]="card"></app-card>
    </div>
  </div>
</div>
