.titleHeader {
  text-align: left;
}

.titleInput {
  margin-top: -25px;
}

.cardTitleInput {
  margin-right: 10px;
  width: 90%;
}

.row-title {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.md-form input[type='text']:focus:not([readonly]),
.md-form input[type='password']:focus:not([readonly]),
.md-form input[type='email']:focus:not([readonly]),
.md-form input[type='url']:focus:not([readonly]),
.md-form input[type='time']:focus:not([readonly]),
.md-form input[type='date']:focus:not([readonly]),
.md-form input[type='datetime-local']:focus:not([readonly]),
.md-form input[type='tel']:focus:not([readonly]),
.md-form input[type='number']:focus:not([readonly]),
.md-form input[type='search-md']:focus:not([readonly]),
.md-form input[type='search']:focus:not([readonly]),
.md-form textarea.md-textarea:focus:not([readonly]) {
  box-shadow: 0 1px 0 0 #8bd201;
  border-bottom: 1px solid #8bd201;
  color: #8bd201;
}

.md-form input[type='text']:focus:not([readonly]) + label,
.md-form input[type='password']:focus:not([readonly]) + label,
.md-form input[type='email']:focus:not([readonly]) + label,
.md-form input[type='url']:focus:not([readonly]) + label,
.md-form input[type='time']:focus:not([readonly]) + label,
.md-form input[type='date']:focus:not([readonly]) + label,
.md-form input[type='datetime-local']:focus:not([readonly]) + label,
.md-form input[type='tel']:focus:not([readonly]) + label,
.md-form input[type='number']:focus:not([readonly]) + label,
.md-form input[type='search-md']:focus:not([readonly]) + label,
.md-form input[type='search']:focus:not([readonly]) + label,
.md-form textarea.md-textarea:focus:not([readonly]) + label {
  color: #8bd201;
}

.lane {
  border-left: 1px solid #8bd201;
  border-top: 0;
  border-bottom: 1px solid #8bd201;
  border-right: 1px solid #8bd201;
}

#card {
  text-align: center;
  margin-bottom: 15px;
  z-index: 1;
}

mdb-card-body {
  padding: 0px 0px 0px 10px;
  margin-bottom: 10px;
}

/*.md-form textarea.md-textarea {*/
/*  padding: 10px 0px 10px 0px;*/
/*}*/

.cardSettings {
  padding: 2px 2px 0 2px;
  margin: 0;
  float: right;
  background-color: transparent;
  color: #ed5603;
  font-size: 12px;
  cursor: pointer;
}

.deleteLane {
  padding: 2px 2px 0 2px;
  background-color: #ffffff;
  color: #ed5603;
  font-size: 10px;
  cursor: pointer;
}

.addCard {
  padding: 2px 2px 0 2px;
  background-color: #ffffff;
  color: #8bd201;
  font-size: 10px;
  cursor: pointer;
}
