<div
  cdkDropList
  id="{{lane.id}}"
  [cdkDropListData]="lane.cards"
  [cdkDropListConnectedTo]="connectedTo"
  (cdkDropListDropped)="onDrop($event)"
  class="drop-list"
>
  <div class="md-form">
    <div class="row row-title justify-content-center">
      <div class="col-md-10 pl-0 pr-0">
        <input
          mdbInput
          type="text"
          class="form-control titleInput"
          [(ngModel)]="lane.title"
          (change)="onLaneTitleChange(lane.id, lane)"
        />
        <label for="title" class=""></label>
      </div>
      <div class="col-md-2 pl-0 pr-0">
        <button
          class="deleteLane"
          (click)="deleteLane(lane.id)"
          mdbBtn
          mdbWavesEffect
        >
          <mdb-icon fas icon="far fa-trash-alt"></mdb-icon>
        </button>
        <div class="btn-group" mdbDropdown>
            <button
            class="editLane"
            mdbDropdownToggle
            mdbBtn
            mdbWavesEffect
          >
            <mdb-icon fas icon="plus"></mdb-icon>
          </button>
          <div class="dropdown-menu dropdown-primary">
              <a class="dropdown-item"
                (click)="openCardModal(lane.id)">Voeg kaart toe
              </a>
              <a class="dropdown-item"
                (click)="openCategoryModal(lane.id)">Voeg categorie toe
              </a>
          </div>
        </div>

      </div>
    </div>
    <mdb-card [attr.id]="getId(lane, card)" cdkDrag *ngFor="let card of lane.cards">
        <mdb-card-header class="category rounded" cdkDragHandle *ngIf=!card.message>
            <span class="md-form">
              <input
                mdbInput
                type="text"
                [(ngModel)]="card.title"
                class="categoryTitleInput text-white text-center border-bottom-0"
                (change)="updateCard(lane.id, card)"
              />
            </span>
            <i
              class="far fa-trash-alt cardSettings
                mdbDropdownToggle
                mdbBtn
                mdbWavesEffect"
              (click)="deleteCard(lane.id, card.id)"
            ></i>
          </mdb-card-header>
      <mdb-card-header cdkDragHandle *ngIf="card.message">
        <span class="md-form">
          <input
            mdbInput
            type="text"
            [(ngModel)]="card.title"
            class="cardTitleInput text-center border-bottom-0"
            (change)="updateCard(lane.id, card)"
          />
        </span>
        <i
          class="far fa-trash-alt cardSettings
            mdbDropdownToggle
            mdbBtn
            mdbWavesEffect"
          (click)="deleteCard(lane.id, card.id)"
        ></i>
      </mdb-card-header>

      <mdb-card-body class="card-message" *ngIf="card.message">
        <div class="row">
          <div class="col-md-12 pl-1">
            <span class="md-form">
              <textarea
                mdbInput
                type="text"
                [(ngModel)]="card.message"
                class="md-textarea form-control text-center border-bottom-0 pb-0"
                (change)="updateCard(lane.id, card)"
              ></textarea>
            </span>
          </div>
        </div>
      </mdb-card-body>
      <mdb-card-footer cdkDragHandle *ngIf="card.message">
        <span>Stemmen: {{card.rating}}</span>
        <i
          class="far fa-thumbs-up cardVote
            mdbBtn
            mdbWavesEffect"
            (click)="voteCard(lane.id, card)"
        ></i>
      </mdb-card-footer>
    </mdb-card>
  </div>
</div>
