.titleHeader {
  text-align: left;
}

.drop-list {
  height: 100%;
}

.titleInput {
  margin-top: -25px;
}

.category {
  padding: 10px 0 10px 0;
  background-color: rgba(0,0,0,.7);
}

.categoryTitleInput {
  margin-right: -13px;
  width: 90%;
}

.row-title {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.md-form input[type='text']:focus:not([readonly]),
.md-form input[type='password']:focus:not([readonly]),
.md-form input[type='email']:focus:not([readonly]),
.md-form input[type='url']:focus:not([readonly]),
.md-form input[type='time']:focus:not([readonly]),
.md-form input[type='date']:focus:not([readonly]),
.md-form input[type='datetime-local']:focus:not([readonly]),
.md-form input[type='tel']:focus:not([readonly]),
.md-form input[type='number']:focus:not([readonly]),
.md-form input[type='search-md']:focus:not([readonly]),
.md-form input[type='search']:focus:not([readonly]),
.md-form textarea.md-textarea:focus:not([readonly]) {
  box-shadow: 0 1px 0 0 #8bd201;
  border-bottom: 0px solid #8bd201;
  color: black;
}

.md-form input[type='text']:focus:not([readonly]) + label,
.md-form input[type='password']:focus:not([readonly]) + label,
.md-form input[type='email']:focus:not([readonly]) + label,
.md-form input[type='url']:focus:not([readonly]) + label,
.md-form input[type='time']:focus:not([readonly]) + label,
.md-form input[type='date']:focus:not([readonly]) + label,
.md-form input[type='datetime-local']:focus:not([readonly]) + label,
.md-form input[type='tel']:focus:not([readonly]) + label,
.md-form input[type='number']:focus:not([readonly]) + label,
.md-form input[type='search-md']:focus:not([readonly]) + label,
.md-form input[type='search']:focus:not([readonly]) + label,
.md-form textarea.md-textarea:focus:not([readonly]) + label {
  color: #8bd201;
}

.lane {
  border-left: 1px solid #8bd201;
  border-top: 0;
  border-bottom: 1px solid #8bd201;
  border-right: 1px solid #8bd201;
}

#card {
  text-align: center;
  margin-bottom: 15px;
  z-index: 1;
}

#category {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
  z-index: 1;
}

mdb-card-body {
  border-radius: 4px;
  padding: 0 0 0 10px;
}

textarea.md-textarea-auto {
  resize: none;
}

.md-form textarea.md-textarea.md-textarea-auto {
  overflow-y: hidden !important;
  margin-left: 20px;
  margin-top: 25px;
  padding-top: 0;
}

.cardSettings {
  padding: 0 2px 0 2px;
  float: right;
  background-color: #ffffff;
  color: #ed5603;
  font-size: 12px;
  cursor: pointer;
  margin-right: 10px;
}

.cardVote {
  padding: 0 2px 0 2px;
  margin-right: 0;
  background-color: white;
  color: #8bd201;
  font-size: 12px;
  cursor: pointer;
}

.cardVoteDown {
  padding: 0 2px 0 2px;
  background-color: white;
  color: #ff0000;
  font-size: 12px;
  cursor: pointer;
}

.fa-circle {
  font-size: 10px;
  padding: 0;
  color: grey;
  margin-left: 5px;
}

.rowFooterCard {
  align-items: center;
  min-height: 24px;
}

.btnCol {
  text-align: right;
  margin-right: 5px;
}

.deleteLane {
  padding: 2px 2px 0 2px;
  background-color: #ffffff;
  color: #ed5603;
  font-size: 10px;
  cursor: pointer;
}

.editLane {
  padding: 2px 2px 0 2px;
  background-color: #ffffff;
  color: #8bd201;
  font-size: 10px;
  cursor: pointer;
}

.addCard {
  padding: 2px 2px 0 2px;
  background-color: #ffffff;
  color: #8bd201;
  font-size: 10px;
  cursor: pointer;
}

.addCardLarge {
  margin-bottom: 15px;
  padding: 10px 40px 10px 40px;
  background-color: #ffffff;
  color: #8bd201;
  font-size: 10px;
  cursor: pointer;
}

.cdk-drag-placeholder {
  opacity: 0.3;
}

.deleteCard {
  padding: 2px 2px 0 2px;
  background-color: #ffffff;
  color: #ed5603;
  font-size: 10px;
  cursor: pointer;
}

.editCard {
  padding: 2px 2px 0 2px;
  background-color: #ffffff;
  color: #8bd201;
  font-size: 10px;
  cursor: pointer;
}

.btnCard{
  float: right;
  margin-top: 0;
  margin-right: 10px;
}

.dropdown-menu {
  top: -28px;
  left: -155px;
}
