<div class="imgDiv">
  <div class="container">
    <mdb-card>
      <mdb-card-header>
        <h1 class="animated pulse">Welkom {{currentUser.username}}</h1>
      </mdb-card-header>
      <mdb-card-body>
        <div>
          <h4>Dit is jouw dashboard. Vanuit hier kun je al jouw bestaande borden bekijken of een nieuw bord aanmaken.</h4>
        </div>
        <div class="btnDiv">
          <button mdbBtn class="dashBtn animated pulse" type="button" mdbWavesEffect routerLink="/boards/myboards">Mijn Borden</button>
          <button mdbBtn class="dashBtn animated pulse" type="button" mdbWavesEffect routerLink="/boards/newboard">Nieuw Bord</button>
        </div>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>
