<mdb-card cdkDrag id="card" *ngFor="let card of lane.cards">
  <mdb-card-header cdkDragHandle>
    <span class="md-form">
      <input
        mdbInput
        type="text"
        [(ngModel)]="card.title"
        class="cardTitleInput text-center"
        (change)="updateCard(lane.id, card.id, card)"
      />
    </span>
    <i
      class="far fa-trash-alt cardSettings
        mdbDropdownToggle
        mdbBtn
        mdbWavesEffect"
      (click)="deleteCard(lane.id, card.id)"
    ></i>
    <div class="btn-group" mdbDropdown>
        <button
        class="cardSettings"
        mdbDropdownToggle
        mdbBtn
        mdbWavesEffect
      >
        <mdb-icon fas icon="cog"></mdb-icon>
      </button>
      <div class="dropdown-menu dropdown-primary">
          <a class="dropdown-item"
            (click)="openColorModal()">Kies kleur
          </a>
      </div>
    </div>
  </mdb-card-header>
  <mdb-card-body class="card-message" *ngIf="card.message !== ''">
    <div class="row">
      <div class="col-md-12">
        <span class="md-form">
          <textarea
            mdbInput
            type="text"
            [(ngModel)]="card.message"
            class="md-textarea form-control text-center"
            (change)="updateCard(lane.id, card.id, card)"
          ></textarea>
        </span>
      </div>
    </div>
  </mdb-card-body>
  <mdb-card-footer cdkDragHandle>
    <i
      class="far fa-thumbs-up cardVote
        mdbBtn
        mdbWavesEffect"
    ></i>
  </mdb-card-footer>
</mdb-card>
