<div class="card-modal-header">
  <button type="button" class="close pull-right" aria-label="Close" (click)="mdbModalRef.hide()">
    <span aria-hidden="true">×</span>
  </button>
  <h4 class="modal-title w-100" id="myModalLabel">Card</h4>
</div>
<div class="modal-body">
  <form (ngSubmit)="submitCard(board._id, lane._id)" [formGroup]="cardForm">
    <div class="md-form">
      <input
        mdbInput
        type="text"
        id="title"
        class="form-control"
        formControlName="title"
        [ngClass]="{
             'is-invalid': form.title.invalid && ((form.title.dirty || form.title.touched) || submitted)
            }"
        required
      >
      <label for="title" class="">Titel</label>
      <div *ngIf="(form.title.invalid && (form.title.touched)) || submitted" class="invalid-feedback">
<!--        <div *ngIf="form.title?.errors.required">Titel is verplicht!</div>-->
      </div>
    </div>
    <div class="md-form">
      <input
        mdbInput
        type="text"
        id="message"
        class="form-control"
        formControlName="message"
        [ngClass]="{
             'is-invalid': form.message.invalid && ((form.message.dirty || form.message.touched) || submitted)
            }"
        required
      >
      <label for="message" class="">Bericht</label>
      <div *ngIf="(form.message.invalid && (form.message.touched)) || submitted" class="invalid-feedback">
<!--        <div *ngIf="form.message?.errors.required">Bericht is verplicht!</div>-->
      </div>
    </div>
    <button mdbBtn class="submitBtn" type="submit" mdbWavesEffect>Aanmaken</button>
  </form>
</div>
